.header {
  display: flex;

  align-content: space-between;
}

.header__logo {
  display: flex;

  width: 89px;
  height: 40px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header .wraper {
  display: flex;
}

.header__left {
  margin-right: auto;
}

.header__right {
  align-items: center;
}

.header__location-info {
  display: flex;
  padding-top: 15px;
  padding-left: 15px;
}

.header__button {
  background-color: transparent;
  border: none;
  width: 116px;
  height: 24px;
  cursor: pointer;
}

.header__userAvatar {
  height: 40px;
  width: 40px;
  background-image: url(../../images/AvatarPlaceholder.svg);
  margin-left: 12px;
}
